p, h1 {
    text-align: center;
}

h1, label, a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

div {
    background-color: #0066FF;
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

input {
    width: 50%;
    height: 20px;
    background-color: skyblue;
    border: none;
}

button {
    background-color: deepskyblue;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
}